@import "tailwindcss";

@theme {
    --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --background-image-gradient-conic: conic-gradient(
        from 180deg at 50% 50%;
        var(--tw-gradient-stops)
    );
    --animate-gradient: gradient 8s ease infinite;
    --background-size-gradient: 400% 400%;
}

@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

