:root {
    /* Colors for the homepage gradient (Light Mode) */
    --color-home-gradient-from: 209, 213, 219; /* gray-300 */
    --color-home-gradient-via: 212 212 212; /* neutral-300 */
    --color-home-gradient-to: 120 113 108; /* stone-500 */

    /* Color for main headings throughout the website (Light Mode) */
    --color-heading-text: 23 37 84; /* blue-950 */

    /* Primary Color of the website (Light Mode) */
    --color-primary: 6 182 212; /* cyan-500 */

    /* Primary Hovered Color of the website (Light Mode) */
    --color-hovered-primary: 8 145 178; /* cyan-600 */

    /* Border Button Color (Light Mode)*/
    --color-border-button-text: 51 65 85; /* slate-700 */

    /* Border Button Hovered Color (Light Mode)*/
    --color-border-button-hover-text: 229 231 235; /* gray-200 */

    /* Text Color for NavBar Buttons (Light Mode)*/
    --color-navbar-button: 71 85 105; /*slate-600*/

    /* Background Color for About Section (Light Mode)*/
    --color-background-about: 214 211 209; /* stone-300*/

    /* Opacity for About Section (Light Mode)*/
    --opacity-background-about: 0.85; /* 85 opacity*/

    /* Text Color for About Me Description (Light Mode) */
    --color-text-about: 0 0 0; /* black */

    /* Hovered Text Color for About Me Description (Light Mode) */
    --color-hover-text-about: 30 41 59; /* slate-800 */

    /* Colors for the Event Marker Gradients on the About Page (Light Mode) */
    --color-event-marker-from: 34 211 238; /* cyan-400 */
    --color-event-marker-to: 8 145 178; /* cyan-600 */

    /* Color for the Event Marker Number Circle on the About Page (Light Mode) */
    --color-event-number: 34 211 238; /* cyan-400 */

    /* Text Color for the Number in the Event Marker (Light Mode)*/
    --color-event-text: 0 0 0; /* black */

    /* Hovered Text Color for the Number in the Event Marker (Light Mode)*/
    --color-event-text-hovered: 241 245 249; /* slate-100 */

    /* Color for the Arrow Icons on the About Page (Light Mode) */
    --color-arrow: 6 182 212; /* cyan-500 */
}

.dark {
    /* Colors for the homepage gradient in (Dark Mode) */
    --color-home-gradient-from: 51 65 85; /* slate-700 */
    --color-home-gradient-via: 39 39 42; /* zinc-800 */
    --color-home-gradient-to: 23 37 84; /* blue-950 */

    /* Color for main headings throughout the website (Dark Mode) */
    --color-heading-text: 147 197 253; /* blue-300 */

    /* Primary Color of the website  */
    --color-primary: 14 116 144; /* cyan-700 */

    /* Primary Hovered Color of the website (Dark Mode) */
    --color-hovered-primary: 8, 145, 178; /* cyan-600 */

    /* Border Button Color (Dark Mode)*/
    --color-border-button-text: 255 255 255; /* white */

    /* Text Color for NavBar Buttons (Dark Mode)*/
    --color-navbar-button: 191 219 254; /* blue-200 */

    /* Background Color for About Section (Dark Mode)*/
    --color-background-about: 38 38 38; /* neutral-800 */

    /* Opacity for About Section (Dark Mode)*/
    --opacity-background-about: 0.80; /* 80 opacity*/

    /* Text Color for About Me Description (Dark Mode) */
    --color-text-about: 255 255 255; /* white */

    /* Hovered Text Color for About Me Description (Dark Mode) */
    --color-hover-text-about: 226 232 240; /* slate-200 */

    /* Color for the Event Marker Number Circle on the About Page (Dark Mode) */
    --color-event-number: 6 182 212; /* cyan-500 */

    /* Text Color for the Number in the Event Marker (Dark Mode)*/
    --color-event-text: 255 255 255; /* white */

    /* Hovered Text Color for the Number in the Event Marker (Light Mode)*/
    --color-event-text-hovered: 226 232 240; /* slate-200 */

    /* Color for the Arrow Icons on the About Page (Light Mode) */
    --color-arrow: 34 211 238; /* cyan-400 */
}

.text-heading {
    color: rgb(var(--color-heading-text));
}

.navbar-text {
    color: rgb(var(--color-navbar-button));
}

.background-navbar {
    background-color: rgb(var(--color-primary));
}

.background-primary {
    background-color: rgb(var(--color-primary));
}

.background-primary:hover {
    background-color: rgb(var(--color-hovered-primary));
}

.border-primary {
    border-color: rgb(var(--color-primary));
}

.button-primary {
    background-color: rgb(var(--color-primary));
}

.button-primary:hover {
    background-color: rgb(var(--color-hovered-primary));
}

.border-button-primary {
    border-color: rgb(var(--color-primary));
    color: rgb(var(--color-border-button-text));
    transition: background-color 0.3s ease-in-out;
}

.border-button-primary:hover {
    background-color: rgb(var(--color-hovered-primary));
    color: rgb(var(--color-border-button-hover-text));
}

.about-background {
    background-color: rgb(
        var(--color-background-about) / var(--opacity-background-about)
    );
}

.about-text-desc {
    color: rgb(var(--color-text-about));
}

.about-text-desc:hover {
    color: rgb(var(--color-hover-text-about));
}

.about-box {
    background-color: rgb(var(--color-primary));
}

.event-num {
    background-color: rgb(var(--color-event-number));
}

.event-text {
    color: rgb(var(--color-event-text));
}

.event-text:hover {
    color: rgb(var(--color-event-text-hovered));
}

.arrow-color {
    color: rgb(var(--color-arrow));
}