:root {
    /* Colors for the homepage gradient (Light Mode) */
    --color-home-gradient-from: 209, 213, 219; /* gray-300 */
    --color-home-gradient-via: 212 212 212; /* neutral-300 */
    --color-home-gradient-to: 120 113 108; /* stone-500 */

    /* Color for main headings throughout the website (Light Mode) */
    --color-heading-text: 23 37 84; /* blue-950 */

    /* Primary Color of the website (Light Mode) */
    --color-primary: 6 182 212; /* cyan-500 */

    /* Primary Hovered Color of the website (Light Mode) */
    --color-hovered-primary: 8 145 178; /* cyan-600 */

    /* Border Button Color (Light Mode)*/
    --color-border-button-text: 51 65 85; /* slate-700 */

    /* Border Button Hovered Color (Light Mode)*/
    --color-border-button-hover-text: 229 231 235; /* gray-200 */

    /* Text Color for NavBar Buttons (Light Mode)*/
    --color-navbar-button: 71 85 105; /*slate-600*/

    /* Background Color for About Section (Light Mode)*/
    --color-background-about: 214 211 209; /* stone-300*/

    /* Opacity for About Section (Light Mode)*/
    --opacity-background-about: 0.85; /* 85 opacity*/

    /* Text Color for About Me Description (Light Mode) */
    --color-text-about: 0 0 0; /* black */

    /* Hovered Text Color for About Me Description (Light Mode) */
    --color-hover-text-about: 30 41 59; /* slate-800 */

    /* Colors for the Event Marker Gradients on the About Page (Light Mode) */
    --color-event-marker-from: 34 211 238; /* cyan-400 */
    --color-event-marker-to: 8 145 178; /* cyan-600 */

    /* Color for the Event Marker Number Circle on the About Page (Light Mode) */
    --color-event-number: 34 211 238; /* cyan-400 */

    /* Text Color for the Number in the Event Marker (Light Mode)*/
    --color-event-text: 0 0 0; /* black */

    /* Hovered Text Color for the Number in the Event Marker (Light Mode)*/
    --color-event-text-hovered: 241 245 249; /* slate-100 */

    /* Color for the Arrow Icons on the About Page (Light Mode) */
    --color-arrow: 6 182 212; /* cyan-500 */

    /* Background color for the Skills Page (Light Mode) */
    --color-skills: 212 212 216; /* zinc-300 */

    /* Background color for a Skill Category (Light Mode) */
    --color-skill-category: 244 244 245; /* zinc-100 */

    /* Background Color for a Box that Contains a Skill (Light Mode)*/
    --color-skill-box: 34 211 238; /* cyan-400 */

    /* Background Color for a Skill Box that is Hovered (Light Mode) */
    --color-skill-box-hovered: 6 182 212; /* cyan-500 */

    /* Hovered Text Color for the Text Inside a Skill Box (Light Mode) */
    --color-skill-text-hovered: 255 255 255; /* White */

    /* Color for a Separator between a Skill Logo and Text (Light Mode) */
    --color-separator: 226 232 240; /* slate-200 */

    /* Project Card Border Color (Light Mode) */
    --border-project-card: 29 78 216; /* blue-700*/

    /* Project Card Background Color (Light Mode) */
    --background-project-card: 228 228 231; /* zinc-200 */ 

    /* Project Status Badge Complete Background Color (Light Mode) */ 
    --background-complete-badge: 34 197 94; /* green-500 */

    /* Project Status Badge In Progress Background Color (Light Mode) */ 
    --background-in-progress-badge: 252 202 21; /* yellow-400 */

    /* Project Description Text Color (Light Mode) */ 
    --text-project-desc-color: 0 0 0; /* black */

    /* Project Skills Badge Color (Light Mode) */
    --background-project-skills-badge: 30 64 175; /* blue-800 */

    /* Project Skills Badge Hovered Color (Light Mode) */
    --hovered-background-project-skills-badge: 22 36 86; /* blue-950 */

    /* Project Skill Badge Text Color (Light Mode) */
    --text-project-skill-badge-color: 255 255 255; /* white */

    /* Contact Form Input Color (Light Mode) */
    --background-input: 255 255 255; /* white */
}

.dark {
    /* Colors for the homepage gradient in (Dark Mode) */
    --color-home-gradient-from: 51 65 85; /* slate-700 */
    --color-home-gradient-via: 39 39 42; /* zinc-800 */
    --color-home-gradient-to: 23 37 84; /* blue-950 */

    /* Color for main headings throughout the website (Dark Mode) */
    --color-heading-text: 147 197 253; /* blue-300 */

    /* Primary Color of the website  */
    --color-primary: 14 116 144; /* cyan-700 */

    /* Primary Hovered Color of the website (Dark Mode) */
    --color-hovered-primary: 8, 145, 178; /* cyan-600 */

    /* Border Button Color (Dark Mode)*/
    --color-border-button-text: 255 255 255; /* white */

    /* Text Color for NavBar Buttons (Dark Mode)*/
    --color-navbar-button: 191 219 254; /* blue-200 */

    /* Background Color for About Section (Dark Mode)*/
    --color-background-about: 38 38 38; /* neutral-800 */

    /* Opacity for About Section (Dark Mode)*/
    --opacity-background-about: 0.80; /* 80 opacity*/

    /* Text Color for About Me Description (Dark Mode) */
    --color-text-about: 255 255 255; /* white */

    /* Hovered Text Color for About Me Description (Dark Mode) */
    --color-hover-text-about: 226 232 240; /* slate-200 */

    /* Color for the Event Marker Number Circle on the About Page (Dark Mode) */
    --color-event-number: 6 182 212; /* cyan-500 */

    /* Text Color for the Number in the Event Marker (Dark Mode)*/
    --color-event-text: 255 255 255; /* white */

    /* Hovered Text Color for the Number in the Event Marker (Dark Mode)*/
    --color-event-text-hovered: 226 232 240; /* slate-200 */

    /* Color for the Arrow Icons on the About Page (Dark Mode) */
    --color-arrow: 34 211 238; /* cyan-400 */

    /* Background color for the Skills Page (Dark Mode) */
    --color-skills: 39 39 42; /* zinc-800 */

    /* Background color for a Skill Category (Dark Mode) */
    --color-skill-category: 82 82 91; /* zinc-600 */

    /* Background Color for a Box that Contains a Skill (Dark Mode)*/
    --color-skill-box: 21 94 117; /* cyan-800 */

    /* Hovered Text Color for the Text Inside a Skill Box (Dark Mode) */
    --color-skill-text-hovered: 0 0 0; /* Black */

    /* Color for a Separator between a Skill Logo and Text (Dark Mode) */
    --color-separator: 15 23 42; /* slate-900 */

    /* Project Card Border Color (Dark Mode) */
    --border-project-card: 59 130 246; /* blue-500*/

    /* Project Card Background Color (Dark Mode) */
    --background-project-card: 68 64 59; /* stone-700 */

    /* Project Status Badge Complete Background Color (Dark Mode) */ 
    --background-complete-badge: 22 163 74; /* green-600 */

    /* Project Status Badge In Progress Background Color (Dark Mode) */ 
    --background-in-progress-badge: 234 179 8; /* yellow-500 */

    /* Project Description Text Color (Dark Mode) */ 
    --text-project-desc-color: 243 244 246; /* gray-100 */

    /* Project Skills Badge Color (Dark Mode) */
    --background-project-skills-badge: 147 197 253; /* blue-300 */

    /* Project Skills Badge Hovered Color (Dark Mode) */
    --hovered-background-project-skills-badge: 37 99 235; /* blue-600 */

    /* Project Skill Badge Text Color (Dark Mode) */
    --text-project-skill-badge-color: 0 0 0; /* black */

    /* Contact Form Input Color (Dark Mode) */
    --background-input: 59 59 59; /* gray */
}

.text-heading {
    color: rgb(var(--color-heading-text));
}

.navbar-text {
    color: rgb(var(--color-navbar-button));
}

.background-navbar {
    background-color: rgb(var(--color-primary));
}

.background-primary {
    background-color: rgb(var(--color-primary));
}

.background-primary:hover {
    background-color: rgb(var(--color-hovered-primary));
}

.border-primary {
    border-color: rgb(var(--color-primary));
}

.button-primary {
    background-color: rgb(var(--color-primary));
}

.button-primary:hover {
    background-color: rgb(var(--color-hovered-primary));
}

.border-button-primary {
    border-color: rgb(var(--color-primary));
    color: rgb(var(--color-border-button-text));
    transition: background-color 0.3s ease-in-out;
}

.border-button-primary:hover {
    background-color: rgb(var(--color-hovered-primary));
    color: rgb(var(--color-border-button-hover-text));
}

.about-background {
    background-color: rgb(
        var(--color-background-about) / var(--opacity-background-about)
    );
}

.about-text-desc {
    color: rgb(var(--color-text-about));
}

.about-text-desc:hover {
    color: rgb(var(--color-hover-text-about));
}

.about-box {
    background-color: rgb(var(--color-primary));
}

.event-num {
    background-color: rgb(var(--color-event-number));
}

.event-text {
    color: rgb(var(--color-event-text));
}

.event-text:hover {
    color: rgb(var(--color-event-text-hovered));
}

.arrow-color {
    color: rgb(var(--color-arrow));
}

.bg-skills {
    background-color: rgb(var(--color-skills));
}

.bg-skill-category {
    background-color: rgb(var(--color-skill-category) / 0.70);
}

.bg-skill-box {
    background-color: rgb(var(--color-skill-box));
}

.bg-skill-box:hover {
    background-color: rgb(var(--color-skill-box-hovered));
}

.text-skill-box:hover {
    color: rgb(var(--color-skill-text-hovered));
}

.bg-separator {
    background-color: rgb(var(--color-separator));
}

.bg-border-project-card {
    background-color: rgb(var(--background-project-card));
    border-color: rgb(var(--border-project-card));
}

.bg-complete-badge {
    background-color: rgb(var(--background-complete-badge));
}

.bg-in-progress-badge {
    background-color: rgb(var(--background-in-progress-badge));
}

.text-project-desc {
    color: rgb(var(--text-project-desc-color));
}

.bg-project-skill-badge {
    background-color: rgb(var(--background-project-skills-badge));
}

.bg-project-skill-badge:hover {
    background-color: rgb(var(--hovered-background-project-skills-badge));
}

.text-project-skill-badge {
    color: rgb(var(--text-project-skill-badge-color));
}

.bg-contact-input {
    background-color: rgb(var(--background-input));
}